:root {
    --light-gray: #979FA6;
    --dark-gray: #6C7073;
    --gold: #A69460;
    --light-gold: hsl(45, 28%, 90%);
    --orange: #F24822;
    --light-orange: #F26E50;

}

/* Header */
a.navbar-brand {
    color: var(--light-gray) !important;
    font-weight: 900;
    font-size: 30px !important;
    text-transform: uppercase;
}

a.navbar-brand span {
    color: var(--orange);
}

a.navbar-brand:hover {
    color: var(--gold) !important;
}

/* Hero */
.hero {
    background: rgb(242, 72, 34);
    background: linear-gradient(326deg, rgba(242, 72, 34, 1) 0%, rgba(194, 194, 194, 1) 31%, rgba(87, 87, 87, 1) 79%);
    margin-top: 55px;
}

.jumbotron {
    background: transparent;
}

.jumbotron h1 {
    color: var(--orange);
    font-weight: 700;
}

.jumbotron .lead {
    color: var(--dark);
    font-weight: 700;
}

/* Main */
table i {
    font-size: 25px;
    margin-right: 15px;
}

thead th {
    color: var(--light-gray);
    text-transform: uppercase;
}

tbody th {
    color: var(--light-gray);
    font-size: larger;
}

tbody td {
    color: var(--light-orange);
    font-weight: bold;
}


.main {
    padding: 100px 0;
    background-color: var(--light-gold);
    margin-top: -40px;
    border-top: 7px solid var(--dark-gray);
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Footer */
.footer {
    height: 80px;
    color: var(--light-gray);

}

/* Media Queries */
@media screen and (max-width: 576px) {
    #analysis tbody>tr {
        display: flex;
        flex-direction: column;
    }
}