:root {
    --light-gray: #979FA6;
    --dark-gray: #6C7073;
    --gold: #A69460;
    --light-gold: hsl(45, 28%, 90%);
    --orange: #F24822;
    --light-orange: #F26E50;

}

/* Header */
a.navbar-brand {
    color: var(--light-gray) !important;
    font-weight: 900;
    font-size: 30px !important;
    text-transform: uppercase;
}

a.navbar-brand span {
    color: var(--orange);
}

a.navbar-brand:hover {
    color: var(--gold) !important;
}

/* Hero */
.hero {
    background-image: url('images/business-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-top: 55px;
}

.jumbotron {
    background: transparent;
}

.jumbotron h1 {
    color: var(--orange);
    font-weight: 700;
}

.jumbotron .lead {
    color: var(--dark-gray);
    font-weight: 700;
}

/* Main */
table i {
    font-size: 25px;
    margin-right: 15px;
}

thead th {
    color: var(--light-gray);
    text-transform: uppercase;
}

tbody th {
    color: var(--light-gray);
    font-size: larger;
}

tbody td {
    color: var(--light-orange);
    font-weight: bold;
}


.main {
    padding: 100px 0;
    background-color: var(--light-gold);
}

/* Footer */
.footer {
    height: 80px;
    color: var(--light-gray);

}